Repository ansible-community/molecule-vagrant, pull requests merged in 2020-11, with the labels that each got.

#83 Manually set cpu to qemu64 with qemu driver
  molecule_vagrant/modules/vagrant.py
  tools/Vagrantfile
Labels: enhancement

#85 Fix run_command import due to move
  molecule_vagrant/test/functional/test_func.py
Labels: bug

#62 Improve test box handling
  .github/workflows/tox.yml
  bindep.txt
  molecule_vagrant/test/functional/test_func.py
  molecule_vagrant/test/scenarios/molecule/config_options/molecule.yml
  molecule_vagrant/test/scenarios/molecule/default/molecule.yml
  molecule_vagrant/test/scenarios/molecule/multi-node/molecule.yml
  molecule_vagrant/test/scenarios/molecule/provider_config_options/molecule.yml
  molecule_vagrant/test/scenarios/molecule/vagrant_root/molecule.yml
  tools/Vagrantfile
  tools/test-setup.sh
  tox.ini
Labels: test

#69 Enable testing with ubuntu-bionic
  README.rst
  tools/test-setup.sh
  zuul.d/layout.yaml
Labels: major, test
