Repository ansible-community/molecule-vagrant, pull requests merged in 2022-01, with the labels that each got.

#159 Fix typo, add link to molecule scenarios
  README.rst
Labels: bug, docs

#156 swapon: use a loopback device
  tools/test-setup.sh
  tools/tox-py39/pre.yml
Labels: bug, test

#158 libvirt: automatic fallback to qemu
  molecule_vagrant/modules/vagrant.py
  molecule_vagrant/test/functional/test_func.py
  molecule_vagrant/test/scenarios/molecule/config_options/molecule.yml
  molecule_vagrant/test/scenarios/molecule/multi-node/molecule.yml
  molecule_vagrant/test/scenarios/molecule/network/molecule.yml
  molecule_vagrant/test/scenarios/molecule/provider_config_options/molecule.yml
  molecule_vagrant/test/scenarios/molecule/vagrant_root/molecule.yml
Labels: enhancement, feature, test

#163 Add support for vagrant-vsphere memory and cpu
  molecule_vagrant/modules/vagrant.py
Labels: enhancement
